body{
    font-family: Montserrat;
}
/*HEADER MENU*/

.seleccionado{
    color: white !important;
}
.texto:hover{
    color: white !important;
}
.contenedor-header{
    width:100%;
}
.barranav{
    background-color: #353A40;
    align-items: center;
    position:relative;
    z-index: 50;
    height:4rem;
}
.bg-nav{
    background-color: #353A40;
}
.navbar-toggler{
    border-style: none;
}
.navbar-toggler-icon{
    background-color: white;
    opacity: .2;
    padding:16px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:white;
}
.barranav .contenedor-nav{
    padding-left:5%;
    display:flex;
    width:50%;
    align-items:center;
}
.barranav .logo{
    width:6rem;
}
.barranav .tituloLogo{
    font-size: 2rem;
    font-weight: 600;
    color:white;
}
.barranav{
    font-size: 1rem;
    padding:3%;
}
.navbar-collapse{
    width:100%;
}
.navbar-nav{
    width:100%;
    display:flex;
    justify-content: space-around;
    font-weight: 500;
}
.navbar-nav .nav-item .comprar-verde{
    color:#26A943;
}
.navbar-nav .nav-item .menu-gris{
    color:grey;
}
.barranav .container-fluid{
    background-color: #353A40;
}

/*BANNER CAROUSEL MAIN*/
.banner-filtro img{
    filter: brightness(30%);
}
.banner-texto{
    padding-top:10%;
    color:white;
    padding-left:48%;
    margin-right:9%;
}
.banner-texto p{
    line-height: 1.5rem;
}
.banner-texto .card-title{
    font-size: 2rem;
    font-weight: bold;
}
/*ORADORES SECCIÓN*/
.contenedor-oradores, .contenedor-form{
    margin-top:1rem;
    text-align: center;
    margin:3% 8% 8% 8%;
}

.contenedor-oradores .contenedor-cards .card-orador .card-body h3{
    text-transform: uppercase;
    font-weight: bold;
}
.contenedor-oradores h2 span, .contenedor-form h2 span{
    margin-top:.5rem;
    display:block;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.contenedor-oradores .contenedor-cards .card-orador .card-body p{
    color:rgb(36, 36, 36);
}
/*CAROUSEL CIUDAD ASIDE*/
.card-ciudad-text{
    color:white;
}
.bg-card-ciudad-text{
    background-color: #353A40;
}
/*FORMULARIO SECCIÓN*/
.contenedor-form p{
    text-transform:none;
}
.contenedor-form p span a{
    text-decoration: underline;
    text-decoration-style: dotted;
}
.mensaje-contenedor{
    text-align: left;
}
.texto-mensaje{
    font-size: 1.5rem;
}
.form-convocatoria{
    text-align: center;
    margin-top: 1rem;
}
/*FOOTER SECCIÓN*/
.footer{
    background-image: linear-gradient(
    45deg,
    hsl(200deg 43% 19%) 0%,
    hsl(200deg 45% 20%) 2%,
    hsl(200deg 47% 21%) 9%,
    hsl(201deg 49% 22%) 27%,
    hsl(201deg 51% 23%) 63%,
    hsl(201deg 53% 24%) 84%,
    hsl(202deg 54% 25%) 94%,
    hsl(202deg 55% 26%) 98%,
    hsl(202deg 56% 27%) 100%,
    hsl(203deg 57% 28%) 100%
  );
}
.footer .submenu{
    width:100%;
    display:flex;
    color:white;
    justify-content: space-around;
    padding:4%;
    align-items: center;
}
/*BOTONES COLORES BOOTSTRAP CAMBIOS*/
.btn-enviar, .btn-borrar{
    color:white;
    background-color:#96C93E;
}
:root{
    ---bs-btn-hover-bg:white;
}
.btn-secondary{
    background-color: var(---bs-btn-hover-bg);
    color:#6C757D;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus{
    background-color: var(---bs-btn-hover-bg)!important;
    color:#6C757D!important;
}

.btn-enviar:hover, .btn-enviar:active, .btn-enviar:focus, .btn-borrar:hover, .btn-borrar:active, .btn-borrar:focus{
    background-color:#28A744;
    color:white;
}
.btn-comprar{
    background-color:#28A744;
    color:white;
    font-weight: bold;
}
.btn-comprar:hover, .btn-comprar:active, .btn-comprar:focus{
    background-color:#96C93E;
    color:white;
}
/*clase que se añade cuando con js se añade el header para que quede posicionado arriba de todo
el documento*/
.fixed-top{
    position:fixed;
}

/*######COMPRAR TICKETS######*/

.main-tickets-cards{
    display:grid;
    grid-template-columns:  repeat( auto-fit, minmax(auto, 320px) );
    margin-top:6rem;
    padding: 0 14rem;
    justify-content: center;
    gap:1rem;
}
.card-ticket{
    max-width:320px;
    display:flex;
    flex-direction: column;
    row-gap:2rem;
    justify-content: center;
    height:260px;
    align-items: center;
}
.card-ticket h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.card-ticket h4{
    font-size: 1.3rem;
    font-weight: bold;
}
.card-ticket h3{
    text-align: center;
    font-size: 1.3rem;
}
.card-ticket p {
    white-space: nowrap;
    color:#6C757D;
}
.card-ticket.estudiante{
    border: solid #007BFF 2px;
}
.card-ticket.trainee{
    border: solid #17A2B8 2px;
}
.card-ticket.junior{
    border:solid #FFC107 2px;
}


/*Sección Formulario*/
/*Contenedor formulario*/

.contenedor-form-tickets h3{
    text-align: center;
}
.seccion-formulario{
    grid-column: 1/4;
}

.seccion-formulario .valor-ticket{
    font-size: 2rem;
    font-weight: bold;
}
.contenedor-campos{
    margin: 0 auto;
    width:100%;
}

.menu-lista{
    text-align: left;
}

/*Padding formulario bootstrap*/
.row>* {
    padding-left:0px;
    padding-right:0px;
}
/*Total a pagar*/
.totalPago{
    background-color: #CCE5FF;
    color:#004085;
    text-align: left;
    padding:24px 16px;
    border-radius: 5px;
    border: solid #B8DAFF 0.5px;
}

.botones-contenedor-form{
    display:flex;
    gap:1rem;
}

/*ORADORES*/


#oradoresBody{
    width: 100%;
    
}

.oradoresMain{
    width: 100%;
   
}  
.oradores{
    margin:4rem 0 4rem 0;

    display: flex;
    flex-direction: column;
    align-items:center;

}



.oradores .tabla{
    width: 70%;  
          
}

.oradores th{
   font-style: italic;
   color:#0000ff;
   padding:20px;
}
.oradores td{
    font-style:oblique;
    color:#ff0000;
 }
 


.tabla{
    margin-bottom: 4rem;
}
.tableHeader,.tableBody{
    font-size: 1.5rem;
    text-align: center;
   
}
.buttonOrador{
    width: 70%;
    font-size: 2rem;
    border-radius: 20px;
    margin-bottom: 4rem;
}


table img{
    width: 7em;
    height: 6em;
}

.horarios{
    margin: 5rem;
}
.table{ padding-right: 2em;
    padding-left: 2em;
}
#tableContainer{
    width: 100%;
}
#footerOradores{
    width: 100%;
}

/*MEDIA QUERIES INDEX*/
/*####Desktop*/
@media (max-width: 1200px) { 
    .card-orador{
        width:60%;
    }
}
/*#####Tablets|Notebooks Hasta la medida 992####*/
@media (max-width: 992px) { 
    .card-orador{
        width:80%;
    }
    .card-img-overlay {
        position:relative;
    }
    .banner-texto{
        background-color: #353A40;
        padding-top:10%;
        color:white;
        padding:5%;
        margin:0%;
    }
    .navbar-toggler, .navbar-toggler-icon{
        border:none;
        outline:none;
    }
    .barranav{
        padding:0%;
    }
}
/*#####Tablet - Hasta la medida 768####*/
@media (max-width: 768px) { 
    .footer .submenu{
        flex-wrap: wrap;
        flex-direction:column;
        row-gap:1rem;
    }
    .botones-card-banner{
        row-gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .banner-texto{
        padding:10%;
    }
    .contenedor-cards{
        display:flex;
        flex-direction: column;
    }
    .contenedor-cards{
        flex-wrap: wrap;
    }
    /*##Formulario-Comprar tickets## mobile hasta tablet*/
    /*
    .totalPago{
        width:94%;
        height:60px;
    }
    */
    .main-tickets-cards{
        padding: 10%;
    }
    .seccion-formulario{
        grid-column: 1/2;
        padding:0%;
    }
    .valor-ticket{
        text-align: center;
    }
}